
#hero {
  height: 90vh;
  width: 100%;
  background-color: var(--matrixGreen);
}

.odd {
  min-height: 90vh;
  width: 100%;
  background-color: white;
}
.even {
  min-height: 90vh;
  width: 100%;
  background-color: var(--matrixGreen);
}
.shape-divider {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.odd svg {
  fill: #73800c;
}

#typewriter {
  position: absolute;
  top: 40%;
  left: 10%;
  font-size: 2rem;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.centreContent {
  background-color: red;
  height: 70vh;
}


.leftSidebar {
  display: none;
}

.rightSidebar {
  display: none;
}
.adSkyscraper {
  height: 600px;
  width: 120px;
  background-color: chartreuse;
}
@media (min-width: 1150px) {
  .wrapper {
    grid-template-columns: 200px 1000px;
  }
  .leftSidebar {
    display: block;
    margin:auto
  }
  .rightSidebar {
    display: none;
  }
}
@media (min-width: 1300px) {
  .wrapper {
    grid-template-columns: 200px 1000px 200px;
  }
  .leftSidebar {
    display: block;
    margin:auto
  }
  .rightSidebar {
    display: block;
    margin:auto
  }
}
footer {
  background-color: #000000;
  width: 100%;
  height: 15rem;
}
