* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section {
  padding: 0 1rem;
  padding-top: 7rem;
  background-color: #eee;
}
.wrapper_page {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1500px;
}
.container_page {
  max-width: 1200px;
  min-height: 100vh;
}
.container_main_content {
  background-color: white;
  padding: 1rem;
}

article h1 {
  font-family: var(--BasicFontBold);
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
article h2 {
  font-family: var(--BasicFont);
  font-size: 1.6rem;
  margin-top: 2rem;
}
article h3 {
  font-family: var(--BasicFont);
  font-size: 1.2rem;
  margin-top: 2rem;
}
article ol li {
  font-family: var(--BasicFont);
  font-size: 1.2rem;
  margin-left: 2rem;
}
article p {
  font-family: var(--BasicFont);
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
}
article ul li {
  margin-left: 2rem;
}
article ul li p {
  margin: 0;
  line-height: 1.8;
}

article textarea {
  font-family: monospace;
  color: #dddddd;
  background-color: #000;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: scroll;
  font-size: 1rem;
  line-height: 1.5;
  padding-top: 1rem;
}
article span {
  color: red;
  font-weight: bold;
}
article p a {
  color: blue;
}
/* ------------------------------------------------ */
/* advertising sideboard and banners */
/* ------------------------------------------------ */
.container_left_sidebar {
  display: none;
  padding: 1rem;
  margin: auto;
}
@media (min-width: 1150px) {
  .container_left_sidebar {
    display: block;
  }
}
.container_right_sidebar {
  display: none;
  padding: 1rem;
  margin: auto;
}
@media (min-width: 1000px) {
  .container_right_sidebar {
    display: block;
  }
}
.advertisement {
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-size: 0.8rem;
  border: 1px solid grey;
}
.ad_wide_skyscraper {
  width: 160px;
  height: 600px;
  margin: auto;
}
.ad_banner {
  width: 468px;
  height: 60px;
  display: none;
  margin: 1rem auto;
}
@media (min-width: 490px) and (max-width: 749px) {
  .ad_banner {
    display: flex;
  }
}
.ad_leaderboard {
  width: 728px;
  height: 90px;
  display: none;
  margin: 1rem auto;
}

@media (min-width: 750px) and (max-width: 999px) {
  .ad_leaderboard {
    display: flex;
  }
}
.ad_inline_rectangle {
  width: 300px;
  height: 250px;
  display: none;
  margin: 1rem auto;
}
@media (min-width: 330px) and (max-width: 489px) {
  .ad_inline_rectangle {
    display: flex;
  }
}
.ad_square {
  width: 250px;
  height: 250px;
  display: none;
  margin: 1rem auto;
  background-color: green;
}
@media (min-width: 280px) and (max-width: 329px) {
  .ad_square {
    display: flex;
  }
}

/* 
<p>250 x 250 - Square.</p>
<p>200 x 200 - Small square.</p>
<p>468 x 60 - Banner.</p>
<p>728 x 90 - Leaderboard.</p>
<p>300 x 250 - Inline rectangle.</p>
<p>336 x 280 - Large rectangle.</p>
<p>120 x 600 - Skyscraper.</p>
<p>160 x 600 - Wide skyscraper.</p> --> 
*/

.mainTopicPage article section {
  display: grid;
  grid-template-columns: 3fr 2fr;
  justify-content: center;
}

.mainTopicPage .card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}

.mainTopicPage .card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.mainTopicPage .card:nth-child(n + 3) {
  display: none;
}

@media (max-width: 790px) {
  .mainTopicPage .card-container {
    grid-template-columns: 1fr;
  }
}

.mainTopicPage .card h2 {
  margin-bottom: 1rem;
  margin-top: 0;
}
.mainTopicPage .card p {
  margin-bottom: 1rem;
}
.mainTopicPage .card a {
  color: #007bff;
  text-decoration: none;
}
.mainTopicPage .truncated-paragraph {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 750px) {
  .mainTopicPage .ad_leaderboard {
    display: flex;
  }
}
.mainTopicPage .container_left_sidebar {
  display: none;
}
.mainTopicPage .container_right_sidebar {
  display: none;
}
.mainTopicPage .snippetCards p {
  margin-bottom: 0;
  margin-left: 1rem;
}

.mainTopicPage .snippetCards a {
  display: flex;
  align-items: center;
  background-color: #ddd;
  border: solid black 2px;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 10px;
  width: 90%;
  color: #000;
  margin-bottom: 1rem;
  text-decoration: none;
}
.mainTopicPage .snippetCards span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.mainTopicPage .snippetCards span p {
  margin: 0;
  font-family: var(--BasicFontBold);
  font-size: 1.5rem;
}
@media (max-width: 750px) {
  .mainTopicPage article section {
    grid-template-columns: 1fr;
  }
  .mainTopicPage .truncated-paragraph {
    display: -webkit-box;
    -webkit-line-clamp: 2;
  }
  .mainTopicPage .snippetCards a {
    width: 100%;
  }
}
